body{
    background-color: #575757;
    margin: 0;
}

.header{
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    background-color: #32384C;
    width: 100%;
}

.header .title{
    display: flex;
    align-items: center;
    margin: 0px 20px;
    white-space: nowrap;
}

.header .title h1{
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mui{
    display: none;
}

.header .menu{
    list-style: none;
    display: flex;
    color: #ffffff;
    margin-left: auto;
    white-space: nowrap;
}

.header .menu li {
    margin-left: 1rem; 
    margin-right: 20px;
    padding: 8px 12px;
}

.header .menu li:hover{
    color: #7CC7FE;
}

.header .menu li a{
    text-decoration: none; 
    color: inherit; 
    cursor: pointer; 
}

.search-container{
    display: flex;
    align-items: center;
}

.search-container .search-icon {
    position: absolute;
    display: flex;
    margin-left: 15px;
    color: #ffffff;
}

.search-container input{
    background-color: #515668;
    display: flex;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #C6C3C3;
    padding-left: 35px;
    margin: 0 10px;
} 


.search-container input::placeholder{
    color: #C6C3C3;
    font-size: 14px;
}

.header .user{
    margin: 0 20px;
}

.header .register{
    display: none;
    list-style: none;
    color: #ffffff;
}

.header .profile{
    list-style: none;
    color: #ffffff;
    display: none;
    background-color: #515668;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px;
    margin: 0;
}

.header .profile li{
    margin-bottom: 10px;
}

.header .profile li:hover{
    color: #7CC7FE;
}

.header .profile li a{
    color: inherit;
    cursor: pointer; 
}

.header .profile.active{
    display: flex;
    flex-direction: column;
}

.header .toggleBtn{
    display: none;
    position: absolute;
    right: 20px;
    font-size: 24px;
    margin-top: 13px;
}



@media screen and (max-width: 800px) {
    .header{
        flex-direction: column;
        align-items: flex-start;
    }

    .header .menu{
        display: none;
        flex-direction: column;
        margin: 15px auto;
        padding: 0;
    }

    .header .menu li{
        text-align: center;
    }

    .header .search-container{
        display: none;
        width: 50%;
        margin: 0 auto 15px;
    }

    .header .user{
        display: none;
        margin: 0 auto;
    }

    .header .register{
        display: none;
        margin: 15px auto 20px;
        padding: 0;
    }

    .header .register li{
        display: flex;
        margin: 2px 15px 0;
    }

    .header .register li:first-child{
        margin-left: 30px;
    }

    
    .header .register li:hover{
        color: #7CC7FE;
    }
    
    .header .register li a{
        cursor: pointer;
        text-decoration: none;
    }

    .header .toggleBtn{
        display: block;
        border: none;
        background-color: #32384C;
        cursor: pointer;
    }

    .menu.active,
    .search-container.active,
    .user.active,
    .register.active{
        display: flex;
    }

    .header .profile.active{
        display: none;
    }
}