.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    background-color: #32384C;
}

.login .site{
    display: flex;
    margin: 0;
    padding: 0;
}

.login .site h1{
    font-size: 24px;
    color: #ffffff;
}

.login form{
    display: flex;
    flex-direction: column;
}

.login form input{
    margin-left: auto;
    margin-right: auto;
    background-color: #D9D9D9;
    border: none;
    color: #686868;
    font-size: 18px;
}
.login form input:focus{
    outline: none;
}

.login .loginBtn{
    color: #ffffff;
    font-size: 18px;
    background-color: #575757;
    width: 440px;
    height: 80px;
    border-radius: 70px;
    border: 0;
    margin: 8px auto 0;
    cursor: pointer;
} 

.login .subBtn{
    display: flex;
    justify-content: center;
    border: 0;
    outline: 0;
    color: #ffffff;
    margin: 15px;
    padding: 15px;
}

.login .subBtn button{
    border: 0;
    outline: 0;
    background-color: #32384C;
    color: #ffffff;
}
