.title h6{
    color: #D9D9D9;
    font-size: 20px;
    margin: 85px 0 15px 50px;
}

hr{
    border-color: #D9D9D9;
    margin: 0 50px;
}

.games{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.games ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
} 

.games ul li{
    margin: 20px 35px 50px; 
}

.games img {
    max-width: 100%;
    height: auto;
}

.title2 h6{
    color: #D9D9D9;
    font-size: 20px;
    margin: 15px 0 15px 50px;
}

.games2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.games2 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
} 

.games2 ul li{
    margin: 20px 35px 50px; 
}

.games2 img {
    max-width: 100%;
    height: auto;
}

.games ul li a,
.games2 ul li a{
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 800px) {
    .games ul li,
    .games2 ul li {
        flex-basis: calc(50% - 35px);
        max-width: calc(50% - 35px);
        margin: 20px 17.5px 50px;
    }
}